---
import { actions } from "astro:actions";
import Layout from "@/components/Layout.astro";
import SoundList from "@/components/SoundList.astro";

const sounds = []; //await Astro.callAction(actions.readSounds.listAll, {});
---

<Layout title="Home">
	<div class="index-header">
		<h1>Home</h1>
	</div>

	<main>
		<h2>Pick a Sound</h2>
		<SoundList sounds={sounds} />
	</main>
</Layout>

