---
/**
 * Header component for ANNOYINGNOISES
 * CRT-inspired terminal header with logo, version tag, and action buttons
 */
---

<div class="header">
	<div class="header-left">
		<div class="header-logo">
			ANNOYINGNOISES<span class="header-cursor"></span>
		</div>
		<span class="header-tag">v0.1.0 // GSI SOUND REGISTRY</span>
	</div>
	<div class="header-right">
		<button class="cmd-btn cmd-btn--teal" id="btnExport"
			>[export config]</button
		>
		<button class="cmd-btn" id="btnSave">[save]</button>
	</div>
</div>
