---
const { sound } = Astro.props;
const host = "https://assets.explosivejuice.com/";
---

<span>{sound.key.replace("dota/", "")}</span>
<button class="play-button" data-src={host + sound.key}> Play </button>

<script>
    const buttons = document.querySelectorAll(".play-button");
    const audio = new Audio();

    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            const src = button.getAttribute("data-src");
            if (src) {
                audio.src = src;
                audio.play().catch((e) => console.error("Error playing sound:", e));
            }
        });
    });
</script>
