---
import Sound from "./Sound.astro";

const sounds = Astro.props.sounds;
---

<ul>
    {
        sounds?.data?.objects
            .filter((o) => o.size > 0)
            .map((sound) => (
                <li>
                    <Sound sound={sound} />
                </li>
            ))
    }
</ul>

