---
/**
 * StatsBar component for ANNOYINGNOISES
 * Displays statistics: total clips, assigned, unassigned, GSI events, and leaderboard
 */
---

<div class="stats-bar">
	<div class="stat-cell">
		<div class="stat-cell-label">total clips</div>
		<div class="stat-cell-value stat-cell-value--amber" id="statTotal">
			12
		</div>
		<div class="stat-cell-sub">loaded in registry</div>
	</div>
	<div class="stat-cell">
		<div class="stat-cell-label">assigned</div>
		<div
			class="stat-cell-value stat-cell-value--orange"
			id="statAssigned"
		>
			4
		</div>
		<div class="stat-cell-sub">events have sounds</div>
	</div>
	<div class="stat-cell">
		<div class="stat-cell-label">unassigned</div>
		<div
			class="stat-cell-value stat-cell-value--red"
			id="statUnassigned"
		>
			8
		</div>
		<div class="stat-cell-sub">clips available</div>
	</div>
	<div class="stat-cell">
		<div class="stat-cell-label">gsi events</div>
		<div class="stat-cell-value stat-cell-value--teal" id="statEvCount">
			10
		</div>
		<div class="stat-cell-sub">trackable events</div>
	</div>
	<div class="stat-cell">
		<div class="stat-cell-label">most assigned</div>
		<div class="mini-leader" id="miniLeader"></div>
	</div>
</div>
